html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(image/background.png);
    background-size: cover;
}

.card-container {
    height: 400px;
    /* Adjust the height as per your requirement */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
